
.backgrund {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("https://eu-central-1-shared-euc1-02.graphassets.com/AMcYXQcgeRNu5q0szWSm1z/60Is7YnJRDuBvCFRrR78")
    center / cover no-repeat;
}

.box {
    background: white;
    border: 3px solid #2e8b57;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
}

 .text1 { 
height:100vh ;
display: flex;
flex-direction: column;
justify-content: center;
align-items:flex-start ;
padding-left: 8%;
text-align: left;
 }    