
.backgrund {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("https://eu-central-1-shared-euc1-02.graphassets.com/AMcYXQcgeRNu5q0szWSm1z/60Is7YnJRDuBvCFRrR78")
    center / cover no-repeat;
}

.box {
    background: white;
    border: 3px solid #2e8b57;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
}
.image-container{
display: flex; 
gap: 20px; 
flex-wrap: wrap;
justify-content: center;
}

.image-container img {
width: 600px;
height: auto;
border-radius: 10px;
}

.box {
background-color: white;
border: 3px solid;
 padding: 15px;
border-radius: 10px;
width: 180px;
text-align: center;
}

.box img {
width: 100%;
border-radius: 10px;
}
