
.backgrund {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("https://eu-central-1-shared-euc1-02.graphassets.com/AMcYXQcgeRNu5q0szWSm1z/60Is7YnJRDuBvCFRrR78")
    center / cover no-repeat;
}

.box {
    background: white;
    border: 3px solid #2e8b57;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
}

 .container { 
display: flex;
justify-content: center;
align-items:flex-start ;
padding: 50px; 
height: 100vh;
flex-wrap: nowrap;
font-family:Arial, Helvetica, sans-serif ;

 }    

 .text1{
max-width: 50%;


 }

 .text1 h2 {

font-size: 48px; 
margin-bottom: 20px;
 }

 .text1 p {
font-size: 20px;
line-height: 1.5;
 }

 .bild img{
max-width: 50%;
height: auto;
border-radius: 10px;
padding: 10px;

 }